header {
    text-align: center;
    margin-bottom: 3em;
}

#filters, #anemones {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

.anemone {
    border: solid black;
}

.anemone p {
    margin: 0.1em; 
}

.species {
    font-style: italic;
}
